<!DOCTYPE html>
html(lang="en")
  head
    script(src="https://www.googletagmanager.com/gtag/js?id=UA-55008456-2" async)
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-55008456-2');
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:200,400")
    link(rel="stylesheet", href="./index.scss")
    title AJ Schmidt | Home
    meta(name="description" content="The website of AJ Schmidt. Infrastructure engineer, piano player, soccer fanatic, pool shark.")
  body
    div.content__container
      img(src="./imgs/headshot.png", alt="AJ Schmidt Headshot").content__headshot
      h1.content__name AJ Schmidt
      h2.content__title Infrastructure Engineering Manager @ NVIDIA
      div.content__divider
      p.content__description
        | Hey there! My name is AJ. I'm an Infrastructure Engineering Manager for a team that maintains GPU-enabled self-hosted GitHub Actions runners to power automated builds and tests for many open-source projects at NVIDIA. When I'm not working, I can usually be found playing piano, soccer, or billiards with friends. The best way to get a hold of me is via #[a(href="mailto:me@ajschmidt.com") email] or #[a(href="https://www.linkedin.com/in/ajschmidt3/" target="_blank") LinkedIn].
    //- script(src="./index.js")
